.body {
    margin: 0px;
    background-color: #111B21;
    height: 400px;
}
.container {
    display: flex;
    gap: 20px;
}

/* Header-Section */
.header {
    width: 100%;
    background-color: #FCF5EB;
    /* background-color: green; */
    height: 120px;
}
.logo img {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.ancer {
    display: flex;                
    gap: 20px;                    
    padding-left: 30px;

}

.ancer a {
    text-decoration: none;        
    padding: 12px 25px;           
    background-color: #4CAF50;    
    color: white;                 
    border-radius: 8px;           
    transition: all 0.3s ease;   
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.ancer a:hover {
    background-color: #45a049;   
    transform: translateY(-3px);  
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
} 
        /* Hero-Section */
.hero {
    height: 400px;
}
.heading {
    padding-top: 20px;
    color: #FFFFFF;
    padding-left: 30px;
}
.input {
    padding-left: 30px;
}
.input input {
    width: 300px;
    padding: 15px;
    border-radius: 20px;
}
.input h2 {
    color: white;
}
.message-main {
    padding-left: 30px;
}
.message-main h2 {
    color: white;
}
.chat-bar{
    width: 360px;
    background: #fff;
    padding: 6px;
    border-radius: 25px;
    display: flex;

    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
/* input */
.chat-bar input{
    flex: 1;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    padding: 12px;
}

/* send button */
.send-btn{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* active (whatsapp green) */
.send-btn.active{
    background: #08da55;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

/* icon */
.send-btn svg{
    width: 20px;
    height: 20px;
    fill: white;
    margin-left: 2px;
}

/* click effect */
.send-btn:active{
    transform: scale(0.9);
}

/* introduced */



.header2 {
    background-color: #075e54;
    color: white;
    padding: 15px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    /* width: 300px; */
}
.container2 {
    max-width: 600px;
    min-width: 200px;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}
.h22 {
    color: #075e54;
}
.chat-box2 {
    background-color: #dcf8c6;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}
